<h1>Add a Restaurant</h1>

<form action="/restaurants" method="post">
  <label>Name:</label>
  <p><input type="text" name="name"></p>
  <label>Rating:</label>
  <p><input type="number" name="rating" min="0" max="5"></p>
  <label>Address:</label>
  <p><input type="text" name="address"></p>
  <p><input type="submit" value="Create Restaurant"></p>
</form>
