<form method="POST" action="/restaurants">
    <h1>Make a New Restaurant</h1>
      <label >Enter restaurant name:
        <input type="text" name="name" >
      </label>
      <label for="rating">Enter restaurant rating (0-5):
        <input type="number" name="rating" min="0" max="5" >
      </label>
      <label for="address">Enter restaurant address:
        <input type="text" name="address" >
      </label>
      <input type="submit">
</form>
