<h1>Create Restaurant</h1>
<form action="/restaurants" method="post">

  <label>Name:</label>
  <input id="restaurant_name" type="text" name="restaurant[name]">

  <br><br>
  <label>Adress:</label>
  <input id="restaurant_address" type="text" name="restaurant[address]">

  <br><br>
  <label>Rating:</label>
  <input id="restaurant_rating" type="text" name="restaurant[rating]">

  <br><br>
  <input type="submit" value="submit">
</form>
