<% @restaurants.each do |restaurant| %>
<h1>Restaurant name: <a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a></h1>
<h3>Restaurant rating: <%= restaurant.rating %></h3>
<h3>Restaurant address: <%= restaurant.address %></h3>
<br>
<% end %>