<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create new restaurant</title>
</head>
<body>
  
  <form action="/users" method="post">
    <label for="">User name:</label>
    <input type="text" name="user[name]" id=""></input>
    <br>
   
    <input type="submit" value="Create new user">
  </form>


</body>
</html>