<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create new restaurant</title>
</head>
<body>
  
  <form action="/restaurants" method="post">
    <label for="">Restaurant name:</label>
    <input type="text" name="restaurant[name]" id=""></input>
    <br>
    <label for="">Restaurant rating:</label>
    <input type="text" name="restaurant[rating]" id=""></input>
    <br>
    <label for="">Restaurant address:</label>
    <input type="text" name="restaurant[address]" id=""></input>
    <br>
    <input type="submit" value="Create new Restaurant">
  </form>


</body>
</html>